html, body{
    width: 100%;
    height: 100%;
}
.bg-color{
    width: 100%;
    height: 100%;
    background-color: #141523;
    overflow: hidden;
}
.ghost{
    margin: 100px;
    width: 100px;
    height: 120px;
    background-color: white;
    border-radius: 100rem 100rem 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ghost 1s linear infinite alternate;
}
.ghost::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 35%;
    background-color: white;
    border-radius: 50%;
    transform: translateX(-10px);
    box-shadow: 100px 0 0 0 white;
}
.ghost::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    background-color: white;
    border-radius: 0 0 100rem 100rem;
    box-shadow: 20px 0 0 0  white, 
                40px 0 0 0 white, 
                60px 0 0 0 white, 
                80px 0 0 0 white;
}
.ghost-body{
    width: 100%;
    height: 50px;
    max-width: 50%;
    background-color: white;
}
.ghost-eye{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #141523;
    box-shadow: 30px 0 0 0 #141523;
}
.ghost-mouth{
    width: 100%;
    max-width: 80%;
    height: 20px;
    margin: 10px auto 0;
    border-radius: 0 0 100rem 100rem;
    position: relative;
}
.ghost-mouth::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    left: 20%;
}
@keyframes ghost{
    to{
        transform: translateY(-15px);
    }
}



/* Information */

span.liveTime {cursor: default;}

.audio-background {
    width: 34px;
    height: 34px;
    display: inline-block;
    background-image: url(../../images/nmgh.png);
    transform: scale(0.8);
    background-position: -960px -461px;
    cursor: pointer;
    margin-right: 50px;
}

.audio-background.audio-active {
    background-position: -1108px -411px;
}

.liveClock {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
a.homePage{
    
margin-left: 50px;
    
text-transform: uppercase;
    
font-weight: 600;
    
color: #08112a;
    
transition: .2s;
}

a.homePage:hover {
    color: #8B0AA3;
    filter: brightness(1.25);
}
.q-info-link{

color: #EC3F51;

font-weight: 600;

transition: .2s;
}

.q-info-link:hover {
    filter: brightness(1.5);
}
.q-info {
    width: 50%;
    height: 100%;
    line-height: 35px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    border-right: 2px solid #262a36;
}

.liveInfo {
    display: flex;
    width: 100%;
    height: 35px;
    font-size: 14px;
    font-family: var(--second-font);
    background: linear-gradient(45deg, transparent , #31bf97 , transparent);
    color: #000;
    position: fixed;
    z-index: 999;
}

.liveInfo:after {content: "";width: 480px;height: 25px;background-image: url(../../images/nmgh.png);background-position: 1000px -413px;position: absolute;bottom: -25px;left: calc(50% - 491px / 2);z-index: 1;}

/* Information */